<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon" />
    <title>E-Toilet Control Panel</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
      integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="layout has-sidebar fixed-sidebar fixed-header">
      <aside id="sidebar" class="sidebar break-point-lg has-bg-image">
        <div class="image-wrapper">
          <img
            src="https://user-images.githubusercontent.com/25878302/144499035-2911184c-76d3-4611-86e7-bc4e8ff84ff5.jpg"
            alt="sidebar background"
          />
        </div>
        <div class="sidebar-layout">
          <div class="sidebar-header">
            <span></span>
            <span
              style="
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 3px;
                font-weight: bold;
              "
              >etoilet control panel</span
            >
          </div>
          <div class="sidebar-content">
            <nav class="menu open-current-submenu">
              <ul>
                <li class="menu-item">
                  <a href="toilet.html">
                    <span class="menu-icon">
                      <i class="ri-vip-diamond-fill"></i>
                    </span>
                    <span class="menu-title">廁所管理</span>
                    <span class="menu-suffix">&#128167;</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="member.html">
                    <span class="menu-icon">
                      <i class="ri-bar-chart-2-fill"></i>
                    </span>
                    <span class="menu-title">會員管理</span>
                  </a>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-icon">
                      <i class="ri-shopping-cart-fill"></i>
                    </span>
                    <span class="menu-title">管理員管理</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="create_admin.html">
                          <span class="menu-title">新增管理員</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item">
                  <a href="../index.html">
                    <span class="menu-icon">
                      <i class="ri-home-3-line"></i>
                    </span>
                    <span class="menu-title">回首頁</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="sidebar-footer" style="text-transform: uppercase">
            <span>Copyright @ e-toilet</span>
          </div>
        </div>
      </aside>
      <div id="overlay" class="overlay"></div>
      <div class="layout" style="background-color: #07103c; color: #ffffff">
        <header class="header" style="background-color: #0e1c2d">
          <a id="btn-collapse" href="#">
            <i class="ri-menu-line ri-xl"></i>
          </a>
          <a id="btn-toggle" href="#" class="sidebar-toggler break-point-lg">
            <i class="ri-menu-line ri-xl"></i>
          </a>
        </header>
        <main class="content" id="app">
          <!-- 這裡才開始寫自己的Code -->
          <div class="content">
            <h1>Member Dashboard</h1>
            <ul>
              <li v-for="member in members" v-if="member.status == 1">
                <!--Disappear when status equals 1-->
                <span style="padding-left: 20px">{{member.name}}</span>
                <div style="padding-right: 20px">
                  <a @click="delete_member(member)">
                    <i class="ri-delete-bin-6-line"></i>
                  </a>
                  <a
                    @click="SendMemberInfo(member)"
                    data-bs-toggle="modal"
                    data-bs-target="#update_member_modal"
                  >
                    <i class="ri-menu-line"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <!-- Modal -->
          <div
            class="modal fade"
            id="update_member_modal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    更新會員資訊
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form style="color: black">
                    <div class="mb-3">
                      <label for="member_email" class="form-label"
                        >Email address</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="member_email"
                        aria-describedby="emailHelp"
                        v-model="member_info.email"
                        @change="checkIFEmailLegal"
                      />
                      <div
                        id="emailHelp"
                        class="form-text"
                        v-show="!isEmailLegal"
                        style="color: red"
                      >
                        Email Must Be Legal
                      </div>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="member_name"
                        >User Name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="member_name"
                        v-model.lazy="member_info.name"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="member_password" class="form-label"
                        >Password</label
                      >
                      <input
                        type="password"
                        class="form-control"
                        id="member_password"
                        aria-describedby="passwdHelp"
                        v-model.trim="member_info.password"
                        @change="checkIFPasswordLegal"
                      />
                      <div
                        id="passwdHelp"
                        class="form-text"
                        v-show="!isPasswordLegal"
                        style="color: red"
                      >
                        Password must be more than 6 characters.
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-primary"
                    @click="update_member"
                    aria-label="Close"
                    v-show="isPasswordLegal&isEmailLegal"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </main>
        <div class="overlay"></div>
      </div>
    </div>

    <!-- partial -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 根據Vue的官網source去改變src的位址，version問題 -->
    <script src="./js/script.js"></script>
    <script src="./js/member_action.js"></script>
  </body>
</html>
