.login_register form {
  position: relative;
  display: grid;
  height: 100%;
  margin: 0;
  place-items: center;
  max-width: 100%;
  padding: 2rem;
}
.login_register button {
  display: block;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.125rem 0.25rem;
  background-color: purple;
  color: #fff;
  margin: 2rem 0 0 auto;
}

.login_register div {
  display: flex;
  align-items: center;
  margin: 1rem 0 1rem 0;
}
.login_register div label {
  word-wrap: normal;
  width: 8rem;
  margin-right: 10px;
}
.login_register div input[type="password"],
.login_register div input[type="text"] {
  display: block;
  width: 100%;
  /* margin: 1rem 0 1rem 0; */
  padding: 0.5rem;
  font-size: 1rem;
  border: 0;
  border-radius: 0.125rem 0.25rem;
  background-color: hsl(222, 20%, 95%);
}
